<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.wenbin.vueshop.dao.shopCarDao">
    <!--select-->
    <select id="getAll" resultType="Shopcar">
        select * from shopcar
    </select>
    <!--insert-->
    <insert id="insertShop" parameterType="Shopcar">
        insert into shopcar(shopname, shopprice, shopsum) values (#{shopname},#{shopprice},#{shopsum});
    </insert>
    <!--update-->
    <update id="updateShop" parameterType="Shopcar">
        update shopcar
        <set>
            <if test="shopname!=null and shopname!=''">
                shopname=#{shopname},
            </if>
            <if test="shopprice!=null and shopprice!=''">
                shopprice=#{shopprice},
            </if>
            <if test="shopsum!=null and shopsum!=''">
                shopsum=#{shopsum}
            </if>
        </set>
        where cid=#{cid}
    </update>
    <!--delete-->
    <delete id="deleteShop" parameterType="int">
        delete from shopcar where cid=#{cid}
    </delete>
    <!--update shopsum-->
    <update id="updateSum" parameterType="Shopcar">
        update shopcar set shopsum=#{shopsum} where cid=#{cid}
    </update>
</mapper>